* {
    margin: 0;
    padding: 5px;
}

.lesson {
background-color: lightcyan;    
}

#myphoto {
    display: block; /* block value assigns each image to start on a new line */
    height: 250px;
    width: auto;
}

#aboutme {
    width:350px;
    border-width:1px;
    padding-left:3px;
    word-wrap: break-word;
}

#mycontacts {
    font-weight: 600;
}

#email {
    background-color: azure;
}

#github {
background-color: aliceblue;
}

#portfolio {
 background-color: whitesmoke;
}